.LoadingTodo-container {
    background-color: #EADD7F;
    width: 80%;
    margin: 0 auto;
}

.LoadingTodo-text {
    padding: 5px 0px;
    width: 100%;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-bottom-style: dashed; border-bottom-width: 1px;
    opacity: 0.5;
    animation: loadingAnimation 2s ease-in-out infinite;
}


@keyframes loadingAnimation {
    0% {
        opacity: 0.;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.8;
    }
}